<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Productos en Tiempo Real</title>
<script src="/socket.io/socket.io.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
    const socket = io();

    socket.on('actualizarProductos', (productos) => {
        const listaProductos = document.getElementById('listaProductos');
        listaProductos.innerHTML = '';
        productos.forEach(producto => {
        const item = document.createElement('li');
        item.textContent = `${producto.nombre} - ${producto.precio}`;
        listaProductos.appendChild(item);
        });
    });
    });
</script>
</head>
<body>
<h1>Lista de Productos en Tiempo Real</h1>
<ul id="listaProductos">
    {{#each productos}}
    <li>{{this.nombre}} - {{this.precio}}</li>
    {{/each}}
</ul>
<form action="/productos" method="POST">
    <input type="text" name="nombre" placeholder="Nombre del producto" required>
    <input type="number" name="precio" placeholder="Precio del producto" required>
    <button type="submit">Agregar Producto</button>
</form>
</body>
</html>